<div class="footer-linebreak"></div>
<div class="footer"> 
    <p>
        &copy; {{currentYear}} - bballdaniel3.com - <a class="footer-anchor" href="/privacy" data-scroll-link>Privacy Policy</a>
        <br>
        Enjoy the content on this website? Consider <a class="footer-anchor" href="https://paypal.me/DevelopInspireCreate">donating</a>.
        <a class="footer-anchor" href="https://github.com/danielbarnes175"><i class="fa fa-github"></i></a>  #DevelopInspireCreate
    </p>
</div>
