<div class="navbar container">
    <div class="horizontal-margins navbar-container">
        <ul class="navbar-list navbar-logo">
            <li>
                <!-- <a href="/"><img alt="Home" src="/images/DevelopInspireCreateStackedCropped.webp"></a> -->
                <a href="/">Home</a>
            </li>
        </ul>
        <ul class="navbar-list">
            <li>
                <a href="https://wiki.bballdaniel3.com">Wiki</a>
                <a href="/blog">Blog</a>
            </li>
        </ul>
    </div>
</div>