<header class="site-header">
    <nav class="navbar horizontal-margins" aria-label="Main navigation">
        <a class="navbar-brand" href="/">Home</a>

        <div class="navbar-links">
            <a href="/games">Games</a>
            <a href="/collections">Collections</a>
            <a href="/blog">Blog</a>
            <a href="/guestbook">Guestbook</a>
        </div>
    </nav>
</header>
