/* Make the page take the full height of the viewport */
html, body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
}

/* Main content should expand to push the footer down */
main {
    flex: 1; /* This makes the content area grow and push the footer down */
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.horizontal-margins {
    margin-left: 15%;
    margin-right: 15%;
}

.jumbo-img {
    max-width: 70%;
    max-height: 100vh;
    margin: auto;
}

/* Links */
a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1250px) {
    .horizontal-margins {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (max-width: 600px) {
    .horizontal-margins {
        margin-left: 5%;
        margin-right: 5%;
    }

    .jumbo-img {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
    }
  }