<h1>Join Game</h1>


{{#if startGame}}
<p class="story-meta">Please enter your name to start this game:</p>
<form action="/games/story/create" method="GET">
    <input type="hidden" name="code" value="{{code}}">
    <input type="text" name="username" placeholder="Your name" required>
    <button type="submit">Start Game</button>
</form>
{{else}}
<p class="story-meta">Please enter your name to join this game:</p>
<form action="/games/story/{{code}}" method="GET">
    <input type="hidden" name="code" value="{{code}}">
    <input type="text" name="username" placeholder="Your name" required>
    <button type="submit">Join Game</button>
</form>
{{/if}}
