<h1>Final Stories</h1>

{{#each stories}}
<div class="story">
    <h2>Story #{{add @index 1}}</h2>
    <p><strong>Contributors:</strong> {{#each this.authors}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</p>
    <pre class="resultsBox">{{this.content}}</pre>
</div>
{{/each}}

<a href="/games">Back to Games</a>