<h1>{{message}}</h1>

<p>Loading...</p>
<p>You will be redirected automatically. Please do not navigate away from this page.</p>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const code = "{{code}}";
    socket.emit('join-room', code);

    socket.on("start-turn", ({ turn, endsIn }) => {
        const username = "{{username}}";
        window.location.href = `/games/story/${code}/write?turn=${turn}&username=${encodeURIComponent(username)}`;
    });

    socket.on("game-finished", () => {
        const username = "{{username}}";
        window.location.href = `/games/story/${code}/results?username=${encodeURIComponent(username)}`;
    });
</script>