<div class="horizontal-margins">
    <h1>Uh oh, the page you're looking for cannot be found!</h1>
</div>
<div class="horizontal-margins"><img class="jumbo-img" src="/images/BloomsTaxonomy.png"></div>
<h2 class="horizontal-margins">Bloom's Taxonomy</h2>
<h4 class="horizontal-margins">A lesson on how people learn</h4>
<p class="horizontal-margins">If you're reading this, then you've tried to access a page that doesn't exist or cannot be
    found. This could be the fault of me, bballdaniel3, or perhaps you just mistyped the address you were looking for.
    Regardless, if it was our fault, we want to make this up to you by providing a simple lesson on Bloom's Taxonomy, a
    theory on how people learn.</p>

<p class="horizontal-margins">
    Bloom's Taxonomy is a theory of learning developed by a commitee of educators with Benjamin Bloom as the head. It is
    denoted as a pyramid where you start from the bottom when learning a new topic, and as you go up the pyramid, your
    understanding of the topic increases. The idea is that to truly learn something, one must go through each phase of
    the taxonomy separately to build their knowledge on the subject.

    <br><br>

    The bottom level is <strong><em>remembering</em></strong>. This stage is when one is first introduced to a subject.
    They do not have any knowledge yet, so the primary focus is to know the "what" of the topic. <em>What should I do in
        this situation? What is this thing?</em> There doesn't need to be an understanding at this stage. You simply
    need to be able to memorize and repeat what the topic is.

    <br><br>

    After remembering, the next level up is <strong><em>understanding</em></strong>. At this stage, we can take what we
    learned in the previous stage, and start to think about the "why" to the what we previously had. <em>Do X because of
        Y.</em> At this stage, you know information about the topic, but you can't really do anything with that
    information.

    <br><br>

    To strengthen your knowledge, however, you have to move up the pyramid to the <strong><em>applying</em></strong>
    stage. At this stage, you are able to take the knowledge you have and integrate it into other problems you have.
    <em>Do X because of Y because it worked in Z situation.</em> At this stage, your understanding moves on from just
    surface level knowledge and you start to dig deeper into the subject. At this stage, you are learning how to use
    your knowledge in broader aspects and situations.

    <br><br>

    With applying, you begin to start <strong><em>analyzing</em></strong>. When you are analyzing, you can look at the
    decisions that you are making, and put real thought into them to make informed decisions. Make connections between
    different topics. You can start to see how your application of X worked in Y, but rather than just knowing why it
    worked in Z, you also understand <em>why</em> it worked in Z, and how you got there.

    <br><br>

    Next up, there is <strong><em>evaluating</em></strong>. At the evaluating stage, you're able to look at the
    different applications you have, and be able to decide which ones are better than others. You're able to know about
    the tradeoffs between the different stages, and argue why certain ways might be better or worse. You can critique
    and weigh the value that different decisions provide. This helps immensely with the final stage of the pyramid.

    <br><br>

    At the very top of the pyramid is <strong><em>creating</em></strong>. When your understanding of a topic is solid,
    and you are able to analyze and evaluate different choices, you are able to design and formulate new things. You no
    longer need to focus on learning, but instead on making something new. This is the ultimate goal when learning a
    topic because this is the stage when you're able to create value. This is the stage when you're truly able to say
    that you understand all the aspects of what you're creating, and you're able to construct something new from it.

    <br><br>

    Bloom's Taxonomy is basic at its core. It's just a logical series of steps when learning, but you can implement it
    into what you're trying to learn. When taking on something new, try to break it down, and really focus on achieving
    each individual stage of the pyramid. From there, you'll be able to create structured learning, and your knowledge
    of the topic will end up being much stronger than if you go into it not really knowing how to learn.
</p>
