<p>
    Welcome to my website!
    <br><br>
    My name is Daniel. I'm the creator of this website.
    <br><br>
    This website is just going to be a place where I put stuff that I might want to share.
    <br><br>
    I hope you enjoy.
</p>