<small>
    <p>
        <strong>Published on:</strong> {{date}}
    </p>
    {{#if tags}}
    <strong>Tags:</strong>
    {{#each tags}}
    <a href="/tag/{{this}}" class="tag">{{this}}</a>
    {{/each}}

    {{/if}}
    </p>
</small>

<div class="post-content">
    {{{content}}}
</div>

<p><a href="/blog">Back to Articles</a></p>
