<h1>Collections</h1>
<p class="collections-intro">

</p>

<div class="collection-grid">
    <a class="collection-card" target="_blank" href="https://photoshare.bballdaniel3.com/s/publicphotography">
        <h2>Photography</h2>
        <p>Photos I’ve taken and shared publicly.</p>
        <span>View Photography →</span>
    </a>

    <a class="collection-card" target="_blank" href="https://photoshare.bballdaniel3.com/s/publicartgallery">
        <h2>Art</h2>
        <p>Drawings, experiments, and visual pieces.</p>
        <span>View Art →</span>
    </a>

    <a class="collection-card" href="/games">
        <h2>Games</h2>
        <p>Games I’ve built.</p>
        <span>View Games →</span>
    </a>

    <a class="collection-card" href="/projects">
        <h2>Projects</h2>
        <p>Projects I've built</p>
        <span>View Projects →</span>
    </a>
</div>

{{!-- <h2>Music</h2>

<h2>Projects</h2> --}}
