<h2>Play a game!</h2>


<a href="/games/story/create" class="game-card">
    <div class="game-info">
        <h3>Story Writing Game</h3>
        <p>A multiplayer story writing game where players take turns writing parts of a story</p>
        <p><strong>Platform:</strong> Browser</p>
    </div>
</a>

<a target="_blank" href="https://danielbarnes175.github.io/SonsOfOrdson/" class="game-card">
    <div class="game-info">
        <h3>Sons of Ordson</h3>
        <p>A SugarCube 2 Twine game set in the magical world of Gerajyo</p>
        <p><strong>Platform:</strong> Browser</p>
    </div>
</a>

<a target="_blank" href="https://github.com/danielbarnes175/RulersLegacy/" class="game-card">
    <div class="game-info">
        <h3>Ruler's Legacy</h3>
        <p>A Crusader Kings mobile game proof of concept</p>
        <p><strong>Platform:</strong> Mobile</p>
    </div>
</a>

<a target="_blank" href="https://github.com/danielbarnes175/BossFightBattlegrounds" class="game-card">
    <div class="game-info">
        <h3>Boss Fight Battlegrounds</h3>
        <p>Side Scrolling Multiplayer Action Game that won #1 best project of 78 in Com S 309 Fall 2019 at Iowa State
            University.</p>
        <p><strong>Platform:</strong> Desktop</p>
    </div>
</a>
