Play a game!


<a href="/games/story/create" class="game-card">
    <div class="game-info">
        <h3>Story Writing Game</h3>
        <p>A multiplayer story writing game where players take turns writing parts of a story.</p>
    </div>
</a>

<a target="_blank" href="https://danielbarnes175.github.io/SonsOfOrdson/" class="game-card">
    <div class="game-info">
        <h3>Sons of Ordson</h3>
        <p>A SugarCube 2 Twine game set in the magical world of Gerajyo </p>
    </div>
</a>
