Play a game!


<a href="/games/story/create" class="game-card">
    <div class="game-info">
        <h3>Story Writing Game</h3>
        <p>A multiplayer story writing game where players take turns writing parts of a story.</p>
    </div>
</a>
