<h4>I really like interactive fiction games</h4>
They're like old choose your own adventure books.
<br><br>

I generally use <a href="https://twinery.org/">Twine</a> or <a href="https://www.renpy.org/">RenPy</a>.

<br><br>

If you want to hire me to code one, you can find me on <a href="https://www.fiverr.com/s/rENkLjj">Fiverr</a> or just
reach out on any platform. You provide the story and the art, and I'll provide the code.

<br><br>

<h2>Completed Games:</h2>

<a href="https://danielbarnes175.github.io/TheFinalCouncilMeeting/" class="game-card">
  <div class="game-info">
    <h3>The Final Council Meeting</h3>
    <p>A quick test of making a Twine story with Chapbook</p>
  </div>
</a>
<a href="/games/story/create" class="game-card">
  <div class="game-info">
    <h3>Story Game</h3>
    <p>A multiplayer story game where players take turns writing parts of a story.</p>
  </div>
</a>

<h2>Cancelled Games:</h2>

<a href="https://bballdaniel3.itch.io/the-crescentborn" class="game-card">
  <div class="game-info">
    <h3>The Crescentborn</h3>
    <p>A RenPy dating sim / linear story about the power of the Moon.</p>
  </div>
  <div class="game-image">
    <img
      src="https://raw.githubusercontent.com/danielbarnes175/The-Crescentborn/refs/heads/main/game/images/characters/kuviis.png"
      alt="The Crescentborn" width="200" height="300">
  </div>
</a>

<a href="https://danielbarnes175.github.io/SonsOfOrdson/" class="game-card">
  <div class="game-info">
    <h3>Sons of Ordson</h3>
    <p>A SugarCube 2 Twine game set in the magical world of Gerajyo</p>
  </div>
  <div class="game-image">
    <img
      src="https://raw.githubusercontent.com/danielbarnes175/SonsOfOrdson/refs/heads/main/src/images/sons-of-ordson-logo.png"
      alt="The Crescentborn" width="200" height="200">
  </div>
</a>