<h1>Welcome to my website!</h1>
<p>
Hi, I'm Daniel!<br><br>

<strong>Looking for some cool things I've made?</strong><br>
Check out my <a href="">GitHub</a> for most of my projects, or see what I'm working on <a href="/now">now</a>

<br><br>

<strong>Looking for something to read?</strong><br>
Check out my <a href="">blog</a> (cursed) or my <a href="/games">interactive fiction games</a> (blessed)

<br><br>

<strong>Looking for something to eat?</strong><br>
I recommend <a href="https://www.google.com/search?q=Where+can+I+buy+pretzels+near+me%3F&sei=x4YdaND2J8fAp84PgsS34AU">pretzels</a> as a nice yummy snack.<br>

</p>
<center>
<strong>Most of this website is</strong><br><br>
<img style="width: 50%; height: 50%;" alt="A pikachu working in construction" src="/images/pika-wip.gif">
</center>
