<h2>Here's what I'm working on now</h2>
<h4>last updated: (September 18th, 2025)</h4>

- I'm having a lot of fun self hosting various services<br>
- I recently switched off of Windows and am now full time on Fedora Linux<br>
- Making this website!<br>
- Creating a fun multiplayer story writing game<br>
- Playing TF2 and Starcraft 2<br>
- Using various rss feeds to keep up to date with tech news<br>
