<h2>Here's what I'm working on now</h2>
<h4>last updated: (May 8th, 2025)</h4>

- I'm having a lot of fun <a href="https://wiki.bballdaniel3.com/books/architecture/page/architecture-overview">self hosting various services</a><br>
- I've been playing a lot of Factorio, as well as training for a Team Fortress 2 LAN<br>
- Making this website!