<h2>Here's what I'm working on now</h2>
<h4>last updated: (June 28th, 2026)</h4>

- I'm having a lot of fun self hosting various services<br>
- I switched off of Windows and am now full time on Fedora Linux<br>
- Making this website!<br>
- Creating a fun multiplayer story writing game (I have the version on this website, but I'm slowly making it its own
standalone cross-platform project)<br>
- Using various rss feeds to keep up to date with tech news<br>
- I'm trying to read more books this year<br>
- I've been pondering and planning some deeper writing works, be it a narrative visual novel, or a more traditional
novel
- Playing hockey is probably my favorite thing in the world right now
