name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Tailscale
        uses: tailscale/github-action@v3
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: SSH into Server and Deploy
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            eval `ssh-agent -s`
            ssh-add ~/.ssh/id_github

            docker login dhi.io \
            -u ${{ secrets.DHI_USERNAME }} \
            -p ${{ secrets.DHI_TOKEN }}

            cd ~/applications/bballdaniel3.com
            git fetch --prune origin main
            git reset --hard origin/main
            docker-compose down
            npm run build
            npm run start
