<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <script defer src="https://unpkg.com/swup@4"></script>
    <script defer type="module" src="/swup.js"></script>
</head>
<body>
    <header>
        {{> navbar }}
    </header>
    <main id="swup" class="transition-fade blog-background">
        <div class="horizontal-margins">
            {{{body}}}
        </div>
    </main>
    <footer>
        {{> footer }}
    </footer>
</body>
</html>
